* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: blue;
  color: blue;
}
.lorem {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 1;
  grid-row: 1;
}
.culpa {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 2;
  grid-row: 1;
}
.officia {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 3;
  grid-row: 1;
}
.mollit {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 2;
  grid-row: 2;
}
.exercitation {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 1;
  grid-row: 3;
}
.magna {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 2;
  grid-row: 3;
}
.ullamco {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 1;
  grid-row: 4;
}
.laboris {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 3;
  grid-row: 3;
}
.fugiat {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 4;
  grid-row: 2;
}
.consectetur {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 4;
  grid-row: 3;
}
.pariatur {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 1;
  grid-row: 5;
}
.dolore {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 2;
  grid-row: 5;
}
.excepteur {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 4;
  grid-row: 5;
}
